<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://beckybriggs.netlify.com">Becky</a>. A new web developer who is currently attending the Coding Bootcamp at the University of Arizona.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'becky.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Becky Briggs</h2>
      <br />
      <p>
        Becky Briggs graduated from the University of Arizona in 2008 with a degree in Engineering Management. She then worked for 11 years at Global Solar Energy, Inc. in Tucson, AZ where she started as an Engineering Aide and worked her way up to Director of Data Systems. She is currently looking to transition into web and iOS app development. In her spare time, she coaches and competes in the sport of CrossFit.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />